bcrypt
Flask
Flask-Bcrypt
flask-cors
Flask-JWT-Extended
Flask-Limiter
Flask-SQLAlchemy
gunicorn
Jinja2
PyJWT
python-dotenv
psycopg2
qrcode
Werkzeug
packaging
pillow
requests
SQLAlchemy
Pygments
reportlab
urllib3
wrapt
ordered-set
certifi
charset-normalizer
click
Deprecated
greenlet
idna
markdown-it-py
MarkupSafe
mdurl
limits